# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / React
frontend/node_modules/
frontend/dist/

# AWS
.aws/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
*.env

#Data Generation codes
data-generation/usage_logs/
data-generation/transcripts/

#Snowflake JAR Files for Glue
pipelines/glue/jars/

#Lambda layer zip files to gitignore
pipelines/lambda/layer/python/
pipelines/lambda/layer/snowflake-layer.zip
pipelines/lambda/list_transcripts/*.zip
pipelines/lambda/process_transcripts/*.zip
pipelines/lambda/get_account_transcripts/*.zip
pipelines/lambda/get_dashboard_data/*.zip
pipelines/lambda/rag_query/*.zip

frontend/node_modules/
frontend/dist/
frontend/.vite/